<header class="page-footer" th:replace="fragments/header"></header>    
<h1>Add/Update Question</h1>
<form action="#" th:action="@{/Questions/add}" th:object="${question}" method="post" id="myform">
    <input type="hidden" name="editId" th:field="*{id}" />
    <p>Question: <textarea name="text" rows="2" cols="30" th:field = "*{text}" form = "myform" required></textarea></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<footer class="page-footer" th:replace="fragments/footer"></footer>