<html>
<head></head>
<body>
    Dear {{name}}
    <p>Below is the URL to access Off-Road Expo CMS.</p>
    <p>{{domain}}</p>
    <p>Please click on the below link to create your CMS Password and use it along with your Email to login</p>
    <p><a href="{{link}}">Click here</a> to generate password</p> 
    <p>Thanks</p>
</body>
</html>