<html>
<head></head>
<body>
<p>Dear {{name}}</p>

<p>Your Username and Password has been created</p>

<p>Email : {{email}}</p>

<p><a href="{{link}}">Click here</a> to generate password</p>

<p>Thanks</p>

</body>
</html>