{% extends 'survey.html.twig' %}
{% block body %}
<style>


	 body
	   {
	   margin:0px;
	   padding:0px;
	   }
        .serveye .serve h1{
            padding: 20px 0px;
            background-color: #000000;
            color: #ffffff;
            margin: 0px;
            text-align: center;
        }
		p{
            text-align: center;
			font-size:20px;
			margin-top:80px;
		}
</style>
    <div class="serveye">

        <div class="serve">      
        </div>
      <p> Thanks for participating in this survey </p>
    </div>
    {% endblock %}