<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/default}">
    <head>
        <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>
        <title>Page 1</title>
    </head>
    <body>
        <div layout:fragment="content" id="content">
            <h2>Users</h2>
            <table border="1">
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>Action</th>
                </tr>
                <tr th:each = "user: ${userlist}">
                    <td th:text="${user.name}">name</td>
                    <td th:text="${user.email}">email</td>
                    <td><a th:href="@{/Users/{pid}/edit(pid=${user.id})}">Edit</a> | <a th:href="@{/Users/{pid}/delete(pid=${user.id})}" onclick="javascript:if (!confirm('Are you sure you want to remove the record? '))
                                return false;">Delete</a></td>
                </tr>
            </table>  
        </div>
    </body>
</html>
