{% extends 'base.html.twig' %}
{% block title %}Change Password{% endblock %}
{% block body %}
    <h1 style="margin-right:100px;">Change Password</h1>
    <div id="error_mess">{{error}}</div>
    <div id="success_mess">{{message}}</div>
    <form name="updatepassword" method="post" action="" onsubmit="javascript:return checkform();">
        <div><label for="password_old" class="required">Old Password</label>
            <input type="password" id="password_old" name="oldpassword" required="required" maxlength="255"/>
        </div>
        <div><label for="password_new" class="required">New Password</label>
            <input type="password" id="password_new" name="newpassword" required="required" maxlength="255"/>
        </div>
        <div><label for="password_confirm" class="required">Confirm Password</label>
            <input type="password" id="password_confirm" name="confirmpassword" required="required" maxlength="255"/>
        </div>

        <input type="submit" value="Update" />
    </form>
<script type = "text/javascript" >
        $(function () {
            jQuery.noConflict();
           
        });
        function checkform(){
             if($('#password_confirm').val()!=$('#password_new').val()){
                alert("Password must match");
                return false;
            }
            return true;
        }
</script>

{% endblock %}
